@font-face {
  font-family: HelveticaDisplayLight;
  src: url(../fonts/HelveticaNowDisplay-Light.woff2);
}

@font-face {
  font-family: HelveticaNowDisplayRegular;
  src: url(../fonts/HelveticaNowDisplay-Regular.woff2);
}

@font-face {
  font-family: SanFranciscoDisplayLight;
  src: url(../fonts/SanFrancisco/SanFranciscoDisplay-Light.otf);
}

@font-face {
  font-family: SanFranciscoDisplayRegular;
  src: url(../fonts/SanFrancisco/SanFranciscoDisplay-Regular.otf);
}

/* line 2, ../../Projects/insta-photo-downloader/sass/_elements.sass */
body {
  font-family: SanFranciscoDisplayRegular;
}

/* line 5, ../../Projects/insta-photo-downloader/sass/_elements.sass */
footer {
  display: flex;
  justify-content: space-between;
  padding: 38px 0;
}

/* line 10, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background: #ffffff;
}

/* line 17, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.nav {
  padding: 26px 0;
}

/* line 20, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.nav_brand {
  display: flex;
  items-align: center;
}

/* line 24, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.nav_brand a {
  display: flex;
  color: #000;
}

/* line 28, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.nav_brand_divider {
  height: 28px;
  width: 1px;
  background: #000000;
  margin: 0 16px;
}

/* line 34, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.nav_search {
  position: relative;
}

/* line 37, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.custom-h2 {
  font-size: 1.3em;
  margin: 10px 0;
}

/* line 41, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 5px;
}

/* line 48, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.result-page {
  padding: 100px 5px 0 5px;
}

/* line 51, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search {
  width: 100%;
}

/* line 54, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-box {
  position: relative;
}

/* line 57, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-box_input {
  width: 100%;
  height: 44px;
  padding: 10px 40px;
  border: 0;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  font-size: .8em;
  outline: none;
}

/* line 71, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-box_icon, .search-box_clear {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

/* line 77, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-box_icon {
  top: 12px;
  left: 10px;
}

/* line 81, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-box_clear {
  cursor: pointer;
  top: 12px;
  right: 10px;
}

/* line 86, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-button {
  display: block;
  background: transparent;
  color: #0070c9;
  border: 0;
  font-size: 1em;
  font-weight: 400;
  padding: 5px 14px;
  margin: 12.6px 0;
}

/* line 96, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.search-button:hover {
  color: #0070c9;
  text-decoration: underline;
}

/* line 100, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.user-info {
  margin-bottom: 44px;
}

/* line 103, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.user-info_base {
  margin-bottom: 20px;
}

/* line 106, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.user-info_base_username {
  font-family: SanFranciscoDisplayLight;
  font-size: 28px;
}

/* line 110, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.user-info_counter {
  display: flex;
  margin-bottom: 20px;
}

/* line 114, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.user-info_counter li {
  margin-right: 40px;
}

/* line 117, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.user-info_counter_number {
  font-weight: bold;
}

/* line 120, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 1em;
}

/* line 125, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.photo-grid .image {
  position: relative;
}

/* line 128, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.photo-grid .image:hover .image_hover-menu {
  opacity: 1;
}

/* line 131, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.image_hover-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* typographic styles */
  color: #fafafa;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .5s;
}

/* line 152, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.image_hover-menu_download-btn {
  background: transparent;
  color: inherit;
  outline: none;
  border: 0;
  font-size: inherit;
}

/* line 159, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.image_hover-menu_download-btn:hover {
  color: inherit;
}

/* line 162, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.copyright-text {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase;
}

/* line 168, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.is-150x150 {
  width: 150px !important;
  height: 150px !important;
}

/* line 172, ../../Projects/insta-photo-downloader/sass/_elements.sass */
.modal-content-custom {
  width: 100%;
  max-width: 815px;
  overflow: visible;
}

/* line 1, ../../Projects/insta-photo-downloader/sass/_modifiers.sass */
.is-background-darken-white {
  background: #FAFAFA;
}

/* line 4, ../../Projects/insta-photo-downloader/sass/_modifiers.sass */
.is-background-white {
  background: #ffffff;
}

/* line 7, ../../Projects/insta-photo-downloader/sass/_modifiers.sass */
.is-align-items-center {
  align-items: center;
}

/* line 10, ../../Projects/insta-photo-downloader/sass/_modifiers.sass */
.is-justify-content-flex-start {
  justify-content: flex-start;
}

/* line 13, ../../Projects/insta-photo-downloader/sass/_modifiers.sass */
.is-justify-content-space-between {
  justify-content: space-between;
}

/* line 16, ../../Projects/insta-photo-downloader/sass/_modifiers.sass */
.column-margin-5 {
  margin: 0 5px;
}

/*# sourceMappingURL=main.css.map */