// Default
body
    font-family: SanFranciscoDisplayRegular

footer
    display: flex
    justify-content: space-between
    padding: 38px 0

.header
    position: fixed
    top: 0
    z-index: 99
    width: 100%
    background: #ffffff

.nav
    padding: 26px 0

.nav_brand
    display: flex
    items-align: center

    a
        display: flex
        color: #000

.nav_brand_divider
    height: 28px
    width: 1px
    background: #000000
    margin: 0 16px

.nav_search
    position: relative

.custom-h2
    font-size: 1.3em
    margin: 10px 0

.search-page
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    padding: 0 5px

.result-page
    padding: 100px 5px 0 5px

.search
    width: 100%

.search-box
    position: relative

.search-box_input
    width: 100%
    height: 44px
    padding: 10px 40px
    border: 0
    background: #ffffff
    color: #000000
    border-radius: 5px
    font-size: .8em
    outline: none

    &:focus
        

.search-box_icon, .search-box_clear
    position: absolute
    
    width: 1.5rem
    height: 1.5rem

.search-box_icon
    top: 12px
    left: 10px

.search-box_clear
    cursor: pointer
    top: 12px
    right: 10px

.search-button
    display: block
    background: transparent
    color: rgb(0, 112, 201)
    border: 0
    font-size: 1em
    font-weight: 400
    padding: 5px 14px
    margin: 12.6px 0

    &:hover
        color: rgb(0, 112, 201)
        text-decoration: underline

.user-info
    margin-bottom: 44px

.user-info_base
    margin-bottom: 20px

.user-info_base_username
    font-family: SanFranciscoDisplayLight
    font-size: 28px

.user-info_counter
    display: flex
    margin-bottom: 20px

    li
        margin-right: 40px

.user-info_counter_number
    font-weight: bold

.photo-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr))
    grid-gap: 1em

    .image
        position: relative

        &:hover .image_hover-menu
            opacity: 1
        
.image_hover-menu
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: rgba(0, 0, 0, 0.3)
    /* typographic styles */
    color: rgb(250, 250, 250)
    font-size: 1.5em
    font-weight: bold
    text-decoration: none
   
    /* position the text centrally*/
    display: flex
    align-items: center
    justify-content: center

    opacity: 0
    transition: opacity .5s

.image_hover-menu_download-btn
    background: transparent
    color: inherit
    outline: none
    border: 0
    font-size: inherit

    &:hover
        color: inherit

.copyright-text
    color: $text-color-disabled
    font-size: 12px
    text-transform: uppercase

// Customizes
.is-150x150
    width: 150px !important
    height: 150px !important

.modal-content-custom
    width: 100%
    max-width: 815px
    overflow: visible