@font-face
  font-family: HelveticaDisplayLight
  src: url(../fonts/HelveticaNowDisplay-Light.woff2)

@font-face
  font-family: HelveticaNowDisplayRegular
  src: url(../fonts/HelveticaNowDisplay-Regular.woff2)

@font-face
  font-family: SanFranciscoDisplayLight
  src: url(../fonts/SanFrancisco/SanFranciscoDisplay-Light.otf)

@font-face
  font-family: SanFranciscoDisplayRegular
  src: url(../fonts/SanFrancisco/SanFranciscoDisplay-Regular.otf)