.is-background-darken-white
    background: $photo-grid-background

.is-background-white
    background: #ffffff

.is-align-items-center
    align-items: center
    
.is-justify-content-flex-start
    justify-content: flex-start

.is-justify-content-space-between
    justify-content: space-between

.column-margin-5
    margin: 0 5px